.fabricante-img{
    max-height: 2.7rem;
    display: inline !important;
    width: auto !important;
}

.origen-img{
    max-height: 1.3rem;
    display: inline !important;
    width: auto !important;
}

.product-card__fabricante{
    margin: 0.3rem 0rem;
}

.product-card__origen{
    margin: 0.3rem 0rem;
}