<!-- .block-banner -->
<div class="block block-banner">
    <div class="container">
        <a href="https://api.whatsapp.com/send/?phone=56986874327&text=Hola+estoy+interesado+en+cotizar+un+repuesto"  target="_blank" class="block-banner__body text-white">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('https://i.imgur.com/n3BGOSj.jpg')"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('https://i.imgur.com/09H7YRc.jpg')"></div>
            <div class="block-banner__title">Gran variedad de <br class="block-banner__mobile-br"> Repuestos para Autos</div>
            <div class="block-banner__text">Si necesitas asistencia para encontrar tu repuesto, no dudes en contactarnos</div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-success">Whatsapp</span>
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
