<div class="block order-success" *ngIf="loader">
    <div class="container">
        <div class="order-success__body">
            <div class="order-success__header" *ngIf="orden.estado">
                <img src="https://www.service.ulti.cl/etc/check-success.jpg" alt="" style="width: 7rem;">
                <h1 class="order-success__title" style="color: green">Pagado !</h1>
                <div class="order-success__subtitle">Tu orden ha sido recibida!</div>
                <div class="order-success__actions">
                    <a routerLink="/" class="btn btn-xs btn-secondary">Ir al Inicio</a>
                </div>
            </div>


            <!-- 'Getnet',
            'WebPay Plus',
            'Transferencia Bancaria' -->

            <div class="order-success__header" *ngIf="!orden.estado && metodoPago == 'WebPay Plus'">
                <img src="https://www.service.ulti.cl/etc/webpay-plus-full.png" alt="" style="width: 10rem;">
                <h1 class="order-success__title" style="color: red">No Pagado</h1>
                <div class="order-success__subtitle">Tu orden ha sido recibida!</div>
                <div class="order-success__actions">
                    <a (click)="retryPayment()" class="btn btn btn-info">Reintentar Pago</a>
                </div>
            </div>

            <div class="order-success__header" *ngIf="!orden.estado && metodoPago == 'Getnet'">
                <img src="https://www.service.ulti.cl/etc/getnet-logo-full.png" alt="" style="width: 20rem;">
                <h1 class="order-success__title" style="color: red">No Pagado</h1>
                <div class="order-success__subtitle">Puedes reintentar el pago o cambiar el metodo de pago.</div>
                <div class="order-success__actions">
                    <a (click)="retryPayment()" class="btn btn btn-info">Reintentar Pago</a>
                </div>
            </div>



            <div class="order-success__header" *ngIf="!orden.estado && metodoPago == 'Mercadopago'">
                <img src="https://www.service.ulti.cl/etc/mercadopago-logo.jpg" alt="" style="width: 20rem;">
                <h1 class="order-success__title" style="color: red">No Pagado</h1>
                <div class="order-success__subtitle">Puedes reintentar el pago o cambiar el metodo de pago.</div>
                <div class="order-success__actions">
                    <a (click)="retryPayment()" class="btn btn btn-info">Reintentar Pago</a>
                </div>
            </div>


            <div class="order-success__header" *ngIf="!orden.estado && metodoPago == 'Transferencia Bancaria'">
                <img src="https://www.service.ulti.cl/etc/santander-logo.png" alt="" style="width: 20rem;">
                <h1 class="order-success__title" style="color: red">No Pagado</h1>
                <div class="order-success__subtitle">Una vez realizada la transferencia envianos el comprobante a nuestro <a href="https://api.whatsapp.com/send/?phone=56986874327" target="_blank" rel="noopener noreferrer">Whatsapp</a>.</div>
                <div>Nombre: Ulti SPA</div>
                <div>Rut: 77612907-0</div>
                <div>Banco: Santander</div>
                <div>Cuenta Corriente: 88900030</div>
                <div>Transferir: {{ orden.total }}</div>
                <div class="order-success__actions">
                    <div class="btn btn btn-info" (click)="copyDates()">Copiar Datos</div>
                </div>
            </div>

            <div class="order-success__meta">
                <ul class="order-success__meta-list">
                    <li class="order-success__meta-item">
                        <span class="order-success__meta-title">Numero de orden:</span>
                        <span class="order-success__meta-value">#{{ orden.orden }}</span>
                    </li>
                    <li class="order-success__meta-item">
                        <span class="order-success__meta-title">Fecha:</span>
                        <span class="order-success__meta-value">{{ orden.fecha.slice(0, -13).split('-').reverse().join('/').replace('T', '') }}</span>
                    </li>
                    <li class="order-success__meta-item">
                        <span class="order-success__meta-title">Total:</span>
                        <span class="order-success__meta-value">{{ orden.total|currencyCLP }}</span>
                    </li>
                    <li class="order-success__meta-item">
                        <span class="order-success__meta-title">Metodo de Pago:</span>
                        
                        <form [formGroup]="formMetodoP">
                        <select class="form-control" formControlName="MetodoP" (change)="changeMetodo()">
                            <option *ngFor="let metodo of metodos" [ngValue]="metodo" [selected]="metodo==metodoPago ? true : null" disabled [attr.selected]="metodo==metodoPago ? true : null">
                                {{ metodo }}
                            </option>
                        </select>
                        </form>
                        <span class="order-success__meta-value" *ngIf="orden.status">{{ orden.metodoPago }}</span>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="order-list">
                    <table>
                        <thead class="order-list__header">
                        <tr>
                            <th class="order-list__column-label" colspan="1">Img</th>
                            <th class="order-list__column-label" colspan="1">Producto</th>
                            <th class="order-list__column-quantity" colspan="1">Cant.</th>
                            <th class="order-list__column-total" colspan="2">Total</th>
                        </tr>
                        </thead>
                        <tbody class="order-list__products">
                        <tr *ngFor="let item of orden.detalles">
                            <td class="order-list__column-image">
                                <div class="product-image">
                                    <a [routerLink]="root.product(item)" class="product-image__body">
                                        <img class="product-image__img" [src]=" item.images[0][0] != 'h' ? 'https://www.service.ulti.cl/'+item.images[0]+'.jpg' : item.images[0]" alt="">
                                    </a>
                                </div>
                            </td>
                            <td class="order-list__column-product">
                                <a [routerLink]="root.product(item)">{{ item.name }}</a>
                                <div *ngIf="item.options && item.options.length > 0" class="order-list__options">
                                    <ul class="order-list__options-list">
                                        <li *ngFor="let option of item.options" class="order-list__options-item">
                                            <span class="order-list__options-label">{{ option.label + ': ' }}</span>
                                            <span class="order-list__options-value">{{ option.value }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="order-list__column-quantity" data-title="Cant:">{{ item.cantidad }}</td>
                            <td class="order-list__column-total" colspan="2" style="width: 8rem;">{{ item.price|currencyCLP }}</td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="orden.additionalLines.length > 0" class="order-list__subtotals">
                        <tr>
                            <th class="order-list__column-label" colspan="2">Subtotal</th>
                            <td class="order-list__column-total" colspan="2">{{ orden.subtotal|currencyCLP }}</td>
                        </tr>
                        <tr *ngFor="let line of orden.additionalLines">
                            <th class="order-list__column-label" colspan="2">{{ line.label }}</th>
                            <td class="order-list__column-total" colspan="2">{{ line.total|currencyCLP }}</td>
                        </tr>
                        </tbody>
                        <tfoot class="order-list__footer">
                        <tr>
                            <th class="order-list__column-label" colspan="2">Total</th>
                            <td class="order-list__column-total" colspan="2">{{ orden.total|currencyCLP }}</td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="card">
                        <div class="order-list">
                            
                        <form [formGroup]="formFacturacion">
                    <table>
                        <tr>
                            <td><strong>Codigo Seguimiento:</strong> {{orden.seguimiento}}</td>
                        </tr>
                            <!-- <tr>
                                <td style="display: flex; align-items: center;" *ngIf="!orden.status"><strong style="margin-right: 1rem;">Fecha Despacho:</strong>  <input type="date" class="form-control" formControlName="FechaDespacho" (click)="openDatepicker()" onkeydown="return false" #dateDespacho style="width: 10rem;"></td>
                            </tr> -->
                            <tr>
                                <td *ngIf="orden.status"><strong>Fecha Despacho:</strong> {{ orden.despacho.split('-').reverse().join('/') }}</td>
                            </tr>
                        <tr *ngIf="orden.estado">
                            <td><strong>Detalle Seguimiento:</strong> {{ orden.detalleSeguimiento }}</td>
                        </tr>
                        <tr *ngIf="orden.observaciones">
                            <td><strong>Nota del Cliente:</strong> {{ orden.observaciones }}</td>
                        </tr>
                    </table>
                </form>
                    </div>
                    </div>
                </div>
            </div>

            
            <form method="POST" #f style="display: none;">
                <input type="text" name="token_ws" [value]="token" #i>
            </form>

            <div class="row mt-3 no-gutters mx-n2">
                <!-- <div class="col-sm-6 col-12 px-2" *ngIf="orden.entrega == 'Envio a región' || orden.entrega == 'Delivery Región Metropolitana'">
                    <div class="card address-card">
                        <div class="address-card__body">
                            <div class="address-card__badge address-card__badge--muted">Dirección de Envio</div>
                            <div class="address-card__name">{{ orden.nombreD }} - {{ orden.rutD }}</div>
                            <div class="address-card__row">
                                {{ orden.region }}<br>
                                {{ orden.comuna }}, {{ orden.calle }} {{orden.numero}}<br>
                                <span *ngIf="orden.departamento">Dep {{ orden.departamento }}</span>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Entrega</div>
                                <div class="address-card__row-content">{{ orden?.agencia == 'Ninguna'? orden.entrega : orden?.agencia || orden.entrega }}</div>
                            </div>
                            <div class="address-card__row" *ngIf="orden.estado">
                                <div class="address-card__row-title" >Fecha Despacho</div>
                                <div class="address-card__row-content">{{ orden.despacho.split('-').reverse().join('/') }}</div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3" *ngIf="orden.documento == 'Factura'">
                    <div class="card address-card">
                        <div class="address-card__body">
                            <div class="address-card__badge address-card__badge--muted">Facturacion</div>
                            <div class="address-card__name">{{ orden.razonSocial }} - {{ orden.rut }}</div>
                            <div class="address-card__row">
                                {{ orden.giro }}<br>
                                {{ orden.direccion }}
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Telefono</div>
                                <div class="address-card__row-content">{{ orden.telefono }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Correo</div>
                                <div class="address-card__row-content">{{ orden.correo }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3" *ngIf="orden.documento == 'Boleta'">
                    <div class="card address-card">
                        <div class="address-card__body">
                            <div class="address-card__badge address-card__badge--muted">Boleta</div>
                            <div class="address-card__name">{{ orden.razonSocial || orden.nombre + ' ' + orden.apellido }} - {{ orden.rut }}</div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Telefono</div>
                                <div class="address-card__row-content">{{ orden.telefono }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Correo</div>
                                <div class="address-card__row-content">{{ orden.correo }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
