<div class="product-tabs" [ngClass]="{'product-tabs--layout--sidebar': withSidebar}">
    <div class="product-tabs__list">
        <a href="#tab-description" class="product-tabs__item"
           [ngClass]="{'product-tabs__item--active': tab === 'aplicaciones'}"
           (click)="$event.preventDefault(); tab = 'aplicaciones'">Sobre Nosotros</a>

        <!-- <a href="#tab-specification" class="product-tabs__item"
           [ngClass]="{'product-tabs__item--active': tab === 'specification'}"
           (click)="$event.preventDefault(); tab = 'specification'">Specification</a> -->
    </div>
    <div class="product-tabs__content">

        <div class="product-tabs__pane" id="tab-description" [ngClass]="{'product-tabs__pane--active': tab === 'aplicaciones'}">
            <div class="typography">


                <div class="card-table">




                </div>


            </div>
        </div>

    </div>
</div>
