<div class="product-tabs" [ngClass]="{'product-tabs--layout--sidebar': withSidebar}">
    <div class="product-tabs__list">
        <a href="#tab-description" class="product-tabs__item"
           [ngClass]="{'product-tabs__item--active': tab === 'aplicaciones'}"
           (click)="$event.preventDefault(); tab = 'aplicaciones'">Aplicaciones</a>

        <!-- <a href="#tab-specification" class="product-tabs__item"
           [ngClass]="{'product-tabs__item--active': tab === 'specification'}"
           (click)="$event.preventDefault(); tab = 'specification'">Specification</a> -->
    </div>
    <div class="product-tabs__content">

        <div class="product-tabs__pane" id="tab-description" [ngClass]="{'product-tabs__pane--active': tab === 'aplicaciones'}">
            <div class="typography">


                <div class="card-table">
                    <div class="table-responsive-sm">
                        <table>
                            <thead>
                            <tr>
                                <th *ngFor="let keyAplication of keyAplications" style="text-align: center;">{{keyAplication}}</th>
                            </tr>
                            </thead>
                            <tbody class="card-table__body card-table__body--merge-rows">
                            <tr *ngFor="let aplication of aplications">
                                <td *ngIf="this.keyAplicationsNames[0]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[0]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[1]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[1]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[2]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[2]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[3]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[3]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[4]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[4]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[5]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[5]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[6]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[6]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[7]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[7]].toString().toUpperCase() }}</td>
                                <td *ngIf="this.keyAplicationsNames[8]" style="text-align: center;">{{ aplication[this.keyAplicationsNames[8]].toString().toUpperCase() }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
