<div class="site-header">
    <app-header-topbar></app-header-topbar>

    <div *ngIf="layout === 'classic'" class="site-header__middle container">
        <div class="site-header__logo">
            <a routerLink="/">
                <img src="http://www.service.ulti.cl/logos/logo-ulti-icon-text.png" alt="Logo Ulti SPA" style="width: 8rem;">
                <!-- <app-icon-logo-pc></app-icon-logo-pc> -->
            </a>
        </div>
        <div style="flex: 0 0 58.333333%;
        max-width: 58.333333%;
        margin-top: 3.1rem;">
            <app-block-brands [brands]="(brands$|async) || []"></app-block-brands>
        </div>
        <!-- AQui Imagenes -->
        <!-- <div><img src="https://chilerepuestos.com/img/logo/nissan.png" alt="Nissan"
                style="margin-left: 2rem;margin-right: 1rem; max-height:6rem;max-width: 8rem;">
        <img src="https://chilerepuestos.com/img/logo/chevrolet.png" alt="Chevrolet"
                style="margin-right: 1rem;max-height:6rem;max-width: 8rem;">
        <img
                src="https://chilerepuestos.com/img/logo/hyundai.png"
                alt="Hyundai" style="margin-right: 1rem;max-height:6rem;max-width: 8rem;">
        <img src="https://chilerepuestos.com/img/logo/kia.png" alt="Kia"
                style="max-height:4rem;max-width: 8em;"></div> -->
        <div class="site-header__phone">
            <div class="site-header__phone-title">Necesitas ayuda?</div>
            <div class="site-header__phone-number">{{ store.primaryPhone }}</div>
        </div>
    </div>

    <div class="site-header__nav-panel">
        <app-header-nav [departments]="layout === 'classic'" [logo]="layout === 'compact'"
            [search]="layout === 'compact'" stickyMode="pullToShow"></app-header-nav>
    </div>
</div>