<div class="card">
    <div class="card-header">
        <h5>Mis Ordenes</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-table">
        <div class="table-responsive-sm">
            <table>
                <thead>
                <tr>
                    <th style="text-align: center;">N° Orden</th>
                    <th style="text-align: center;">Fecha</th>
                    <th style="text-align: center;">Estado</th>
                    <th style="text-align: center;">Total</th>
                    <th style="text-align: center;">Meotodo de Pago</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="orders.length == 0">
                    <td colspan="6" style="text-align: center;">No has realizado ninguna compra.</td>
                </tr>

                <tr *ngFor="let order of orders">
                    <td style="text-align: center;"><a href="'https://www.ulti.cl/#/shop/cart/checkout/success?reference=' + order.id" target="_blank">#{{ order.orden }}</a></td>
                    <td style="text-align: center;">{{ order.date.slice(0, 10).split('-').reverse().join('/') }}</td>
                    <td style="text-align: center;" *ngIf="order.status"><div class="badge badge-success">Pagado</div></td>
                    <td style="text-align: center;" *ngIf="!order.status"><div class="badge badge-error">No Pagado</div></td>
                    <td style="text-align: center;">{{ order.total|currencyCLP }} por {{ order.quantity }} producto(s)</td>
                    <td style="text-align: center;">{{ order.paymentMethod }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="card-divider"></div> -->
    <!-- <div class="card-footer">
        <app-pagination [total]="3"></app-pagination>
    </div> -->
</div>
