<app-page-header [header]="'Inicar Sesión - Registro'" [breadcrumbs]="[
    {label: 'Inicio',       url: '/'},
    {label: 'Inicar Sesión', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title">Inicar Sesión</h3>
                        <form>
                            <div class="form-group">
                                <label>Correo</label>
                                <input type="email" class="form-control" placeholder="Correo">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña">
                                <small class="form-text text-muted">
                                    <a href="javascript:void(0)">Olvide mi Contraseña</a>
                                </small>
                                <small class="form-text text-muted">
                                    <a href="javascript:void(0)">No tienes cuenta? Registrate.</a>
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="login-remember">
                                            <span class="input-check__box"></span>
                                            <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                                        </span>
                                    </span>
                                    <label class="form-check-label" for="login-remember">Recordarme</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 mt-md-3 mt-lg-4">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex mt-4 mt-md-0">
                <div class="card flex-grow-1 mb-0">
                    <div class="card-body">
                        <h3 class="card-title">Registrarse</h3>
                        <form>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Inrese su Nombre">
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" placeholder="Ingrese su Apellido">
                            </div>
                            <div class="form-group">
                                <label>Rut</label>
                                <input type="text" class="form-control" placeholder="12345678-9">
                            </div>
                            <div class="form-group">
                                <label>Correo</label>
                                <input type="email" class="form-control" placeholder="Correo">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <label>Repite la Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <label>Pregunta de seguridad</label>
                                <input type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <label>Respuesta</label>
                                <input type="text" class="form-control" placeholder="Ingrese Respuesta">
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 mt-md-3 mt-lg-4">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
