<!-- .block-products -->
<div class="block block-products block-products--layout--{{ layout }}">
        <div class="container">
            <hr class="gray-divider">
            <div class="block__content">
                <div class="block-split">
                    <div class="block-split__item block-split__item-content">
                        <h1><i class="fas fa-car"></i> Bienvenidos a Ulti - Expertos en Repuestos para Autos</h1>
                        <p><i class="fas fa-search"></i> ¿Estás en busca de repuestos de calidad para tu vehículo? Has llegado al lugar indicado. En Ulti, nos enorgullece ser el principal destino en Chile para encontrar repuestos originales y alternativos de la más alta calidad.</p>
                    
                        <h2><i class="fas fa-check"></i> Repuestos Originales y Alternativos con Garantía</h2>
                        <p><i class="fas fa-cogs"></i> Entendemos lo importante que es tu vehículo para ti. Por eso, te ofrecemos una amplia gama de repuestos originales que se ajustan perfectamente a las especificaciones de fábrica de tu auto. Pero si estás buscando opciones más asequibles, nuestros repuestos alternativos son una excelente elección sin comprometer la calidad y el rendimiento. Lo mejor de todo, todos nuestros repuestos cuentan con una garantía de 60 días en caso de presentar defectos de fábrica. Es importante mencionar que los repuestos eléctricos están excluidos de esta garantía.</p>
                    
                        <h2><i class="fas fa-users"></i> Proveedores Líderes en Todo Chile</h2>
                        <p><i class="fas fa-thumbs-up"></i> Nos asociamos solo con los mejores. Nuestros proveedores son líderes en el mercado chileno, garantizando que cada producto que ofrecemos es de la máxima calidad y confiabilidad. No solo vendemos repuestos; vendemos tranquilidad y confianza en cada compra.</p>
                    
                        <h2><i class="fas fa-star"></i> Calidad, Confianza y Compromiso</h2>
                        <p><i class="fas fa-handshake"></i> Al elegir Ulti, estás eligiendo calidad, confianza y un compromiso inquebrantable con la satisfacción del cliente. Nuestro equipo de expertos está siempre dispuesto a ayudarte a encontrar el repuesto adecuado para tu vehículo. Explora nuestra tienda en línea o ponte en contacto con nosotros para una experiencia de compra personalizada.</p>
                    </div>
                    
                    <div class="block-split__item block-split__item-image">
                        <div style="border: 5px solid #333; border-radius: 10px; box-shadow: 5px 5px 20px #888888; max-width: 810px; overflow: hidden;">
                            <h2 style="background-color: #333; color: #fff; margin: 0; padding: 10px; text-align: center;">Visítanos en Santiago</h2>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.350689185155!2d-70.6046654!3d-33.492252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1745ef01901%3A0xa722be1114a3b4e1!2sUlti%20Repuestos%20-%20ULTI%20SPA!5e0!3m2!1ses-419!2scl!4v1696828876019!5m2!1ses-419!2scl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- .block-products / end -->
