<!-- .block-products -->
<div class="block block-products block-products--layout--{{ layout }}">
        <div class="container">
            <div class="block__content">
                <div class="block-split">
                    <div class="block-split__item block-split__item-content">
                        <h1>Repuestos de Autos de Calidad en Chile: Desde Santiago hasta las Regiones más Lejanas</h1>
                        <p>En <strong>Nombre de tu Empresa</strong>, entendemos la importancia ... (resto del texto)</p>
                    </div>
                    <div class="block-split__item block-split__item-image">
                        <img src="assets/images/tu-imagen.jpg" alt="Repuestos para autos" />
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- .block-products / end -->
