<app-page-header [breadcrumbs]="[
    {label: 'Inicio',        url: '/'},
    {label: 'Seguimiento', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="card flex-grow-1 mb-0 mt-5">
                    <div class="card-body">
                        <div class="card-title text-center"><h1>Seguimiento</h1></div>
                        <p class="mb-4 pt-2">
                            Para ver el estado de su orden de compra por favor ingrese el Código de Seguimiento.
                        </p>
                        <form
                            [formGroup]="formOrden"
                        >
                            <div class="form-group">
                                <label for="track-order-id">Código de Seguimiento</label>
                                <input id="track-order-id" type="text" formControlName="Orden" minlength="10" maxlength="11" class="form-control" placeholder="Ingrese código">
                                <div
                                *ngIf="errorSeguimiento">
                                <span class="text-invalid">
                                    {{ errorSeguimiento }}
                                </span>

                            </div>
                            </div>
                            <div class="pt-3">
                                <button class="btn btn-primary btn-lg btn-block" (click)="searchOrden()">Seguir Compra</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
