<app-page-header [breadcrumbs]="[
    {label: 'Inicio',                 url: '../../'},
    {label: 'Terminos y Condiciones', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">Terminos y Condiciones</h1>
                <div class="document__subtitle">Estos terminos y condiciones fueron actualizados el 06/07/2023.</div>
            </div>
            <div class="document__content typography">
                <p>
                    Ulti SPA ("Ulti Repuestos" o "ulti.cl"), RUT: 77.612.907-0 con sucursal en Via Lactea 4097, comuna Macul, Region Metropolitana se establecen los siguientes Términos y Condiciones de acceso y uso del sitio web www.ulti.cl. 
                </p>


                <h2>DELIVERY SANTIAGO</h2>

                <p>
                    El costo es de 3.990 $ Usted puede disfrutar del envío gratis si su compra es mayor a 120.000 $.
                </p>


                <h2>ENVÍO A REGIONES</h2>

                <p>
                    Los productos son enviados "<strong>por pagar</strong>" usted debe cancelar la totalidad del pago una vez reciba el producto por la agencia de envío seleccionada, trabajamos con Starken, Chilexpress y Pullman.
                </p>

                <h2>DEVOLUCIONES</h2>

                <p>
                    Los Usuarios que hayan comprado productos en el sitio web www.ulti.cl, Mercadolibre o Marketplace de Facebook, podrán solicitar su devolución, cambio o reparación gratuita, conforme lo establecido en la Ley de Protección al Consumidor, según lo siguiente:
                </p>

                <h2>DERECHO DE RETRACTO</h2>

                <ol>
                    <li>
                        El Usuario podrá retractarse de la compra de productos en www.ulti.cl, dentro del plazo de 10 días contados desde la recepción del producto. De acuerdo con el artículo 3 bis letra b) de la Ley 19.496 sobre Protección de los Derechos de los Consumidores.
                    </li>
                    <li>
                        <strong>No podrá ejercerse el derecho de retracto cuando el bien que haya sido objeto del contrato se haya deteriorado por un hecho imputable al consumidor.</strong>
                    </li>
                    <li>
                        Si el Usuario ejerciera este derecho, se le devolverán las sumas abonadas, sin retención de gastos, según lo indicado en la sección VII de estos Términos y Condiciones.
                    </li>
                </ol>

                <h2>GARANTÍA LEGAL</h2>

                <p>
                    De acuerdo a la Ley N°19.496 sobre Protección de los Derechos de los Consumidores, las compras que se realicen a partir del día 24 de marzo de 2022 tendrán un plazo de 6 (seis) meses de garantía mínima legal, desde la recepción del producto, siempre que éste no se hubiere deteriorado por hecho imputable al Usuario. Si el producto se hubiere vendido con determinada garantía, prevalecerá el plazo por el cual ésta se extendió, si fuere mayor.
                </p>

                <p>
                    Dicha normativa indica que el consumidor tendrá derecho a la reposición del producto o, en su defecto, a optar por la bonificación de su valor en la compra de otro o por la devolución del precio que haya pagado en exceso, cuando la cantidad o el contenido neto de un producto sea inferior al producto anterior.
                </p>


                <h2>USO DE GARANTÍA</h2>

                <p>
                    Si los productos que compraste no cumplen con las características especificadas, si tu pedido llego dañado o incompleto, debes seguir los siguiente pasos:
                </p>
    
                <ol>
                    <li>
                        Ponerse en contacto con nuestro call center de Ulti Repuestos.
                        El primer paso corresponde a notificar a Ulti Repuestos de la irregularidad en la recepción de tus productos, para esto debes enviar un correo a ventas@ulti.cl especificando tu caso y un registro visual o de audio de lo acontecido.
                    </li>
                    <li>
                        Evaluación del caso y actividades posteriores:

                        Si tu pedido te llego incompleto, Ulti Repuestos procederá a enviar los productos restantes corriendo con los gastos asociados al envío.

                        Si tu producto llego en mal estado, o no correspondía a los productos que adquiriste, Ulti Repuestos volverá a enviar el pedido, una vez que estos sean enviados por parte del cliente de vuelta a dependencias, corriendo con los gastos asociados a ambos envíos.
                    
                        En Ulti Repuestos sabemos lo difícil que es adquirir las piezas correctas para tu vehículo, por eso si tus productos fueron correctamente enviados pero no corresponden a tu vehículo, no te preocupes Nosotros estamos para ayudarte, solo debes seguir los siguientes pasos:
                    </li>
                    </ol>
                    <ol>
                    <li>
                        Notificar a Ulti Repuestos especificando tu caso y coordinando el envío de los productos de vuelta a nuestras dependencias, en tal caso Ulti Repuestos no correrá con los costos asociados a estos envíos, ni se hace responsable por daños y/o robos ocurridos antes de la recepción del producto.
                    </li>
                    <li>
                        Recepción de los productos en nuestras dependencias, cuyo estado será verificado por nuestros especialistas.
                    </li>
                    <li>
                        Si el estado de los productos no es el mismo en el cual fueron enviados originalmente, se procederá a enviar nuevamente tus productos a la dirección original en modalidad "por pagar", en caso de que estos se encuentren en buen estado, se procederá de la siguiente manera:
                    </li>
                </ol>

                <ol>
                    <li>
                        Se emitirá una nota de crédito equivalente al valor de los productos recepcionados.
                    </li>
                    <li>
                        En Ulti Repuestos nos preocupamos de que tu vehículo se encuentra en buenas condiciones, por lo que en primera instancia se procederá a reunir los productos que corresponden a su vehículo, a menos que se solicite explícitamente la devolución del dinero.
                    </li>
                    <li>
                        En caso de que el precio sea idéntico o menor al que fue pagado con anterioridad, Ulti Repuestos emitirá una boleta por los nuevos productos, siendo esta cancelada con la nota de crédito anteriormente emitida, de existir un excedente este será devuelto de manera integra al cliente a través de una transferencia electrónica en un plazo máximo de cinco días hábiles. En caso de existir una diferencia de precio te contactaremos para notificarte de la situación, quedando a tu disposición si aceptas la diferencia que deberá ser cancelada vía transferencia electrónica o si prefieres la devolución del dinero, el cual será devuelto de manera integra al cliente a través de una transferencia. electrónica en un plazo máximo de cinco días hábiles.
                    </li>
                </ol>

                            </div>
                        </div>
                    </div>
                </div>
