<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img [src]="'http://147.182.141.213:3000/'+(Usuario$|async)?.Avatar" alt="">
            </div>
            <div class="profile-card__name">{{(Usuario$|async)?.Nombre + ' ' + (Usuario$|async)?.Apellido }}</div>
            <div class="profile-card__email">{{(Usuario$|async)?.Correo}}</div>
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm">Editar Perfil</a>
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge" *ngIf="address.Default">Dirección de Envío</div>
        <div class="address-card__body">
            <div class="address-card__name">{{ address.Nombre + ' ' + address.Apellido}}</div>
            <div class="address-card__row">
                {{ address?.Region }}, {{ address?.Comuna }}<br />
                {{ address?.Calle }} {{ address?.Numero }}<br />
                <span *ngIf="address?.Departamento">
                    Dep: {{ address?.Departamento }}
                </span>
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Telefono</div>
                <div class="address-card__row-content">{{ address?.Telefono | telefono }}</div>
            </div>
            <div class="address-card__footer">
                <a [routerLink]="'/account/addresses/'+address?._id">Editar Dirección</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>Ultimas Compras</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders">
                        <td><a href="">#{{ order.id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total|currencyCLP }} de {{ order.quantity }} repuesto(s)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
