<div class="product product--layout--{{ layout }}" *ngIf="product">
    <section class="product__content">
        
        <!-- Galería del Producto -->
        <div class="product__gallery">
            <app-product-gallery [productLayout]="layout" [images]="product.images"></app-product-gallery>
        </div>

        <!-- Información del Producto -->
        <article class="info">
            
            <div class="product__wishlist-compare">
                <button aria-label="Agregar a lista de deseos" type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist"
                        appClick (click)="addToWishlist()"
                        [ngClass]="{'btn-loading': addingToWishlist}">
                    <app-icon name="wishlist-16" size="16"></app-icon>
                </button>
            </div>

            <!-- Título del Producto -->
            <h1 class="product__name">{{ product.name2 }}</h1>
            
            <!-- Detalles del Producto -->
            <div class="product-details">
                <div class="product-detail" *ngIf="product.marca">Marca: {{ product.marca }}</div>
                <div class="product-detail" *ngIf="product.modelo">Modelo: {{ product.modelo }}</div>
                <div class="product-detail" *ngIf="product.anios">Años: {{ product.anios }}</div>
                <div class="product-detail product-detail--availability" *ngIf="product.availability == 'Agotado'">Stock: <span class="availability-out-of-stock">{{ product.availability }}</span></div>
                <div class="product-detail product-detail--availability" *ngIf="product.availability == 'Disponible'">Stock: <span class="availability-in-stock">{{ product.availability }}</span></div>
                <div class="product-detail" *ngIf="product.fabricante">Marca: {{ product.fabricante }}</div>
                <div class="product-detail" *ngIf="product.origen">Origen: {{ product.origen }}</div>
                <div class="product-detail" *ngIf="product.oem">OEM: {{ product.oem }}</div>
                <div class="product-detail">
                    <img class="product-detail__image" src="https://www.service.ulti.cl/etc/envios.jpg" alt="Enviós a todo Chile">
                </div>
            </div>
        </article>

        <!-- Barra Lateral del Producto -->
        <aside class="product__sidebar">
            <div class="product__availability">
                Stock: <span class="text-success" *ngIf="product.availability == 'Agotado'">{{ product.availability }}</span>
                Stock: <span class="text-success" *ngIf="product.availability == 'Disponible'">{{ product.availability }}</span>
            </div>
            
            <div class="product__prices">
                <ng-container *ngIf="product.compareAtPrice">
                    <span class="product__new-price">{{ product.price|currencyCLP }}</span>
                    <span class="product__old-price">{{ product.compareAtPrice|currencyCLP }}</span>
                </ng-container>
                <ng-container *ngIf="!product.compareAtPrice">
                    {{ product.price|currencyCLP }}
                </ng-container>
            </div>

            <form class="product__options" *ngIf="product.availability == 'Disponible'">
                <div class="form-group product__option">
                    <label class="product__option-label" for="product-quantity">Cantidad</label>
                    <div class="product__actions">
                        <div class="product__actions-item">
                            <app-input-number id="product-quantity" aria-label="Cantidad" class="product__quantity" size="lg" [min]="1" [formControl]="quantity"></app-input-number>
                        </div>
                        <div class="product__actions-item product__actions-item--addtocart">
                            <button aria-label="Agregar al carrito" type="button" class="btn btn-primary btn-lg"
                                    [ngClass]="{'btn-loading': addingToCart}"
                                    appClick (click)="addToCart()">Agregar al carro</button>
                        </div>
                        <div class="product__actions-item product__actions-item--wishlist">
                            <button aria-label="Agregar a lista de deseos" type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Wishlist"
                                    [ngClass]="{'btn-loading': addingToWishlist}"
                                    appClick (click)="addToWishlist()">
                                <app-icon name="wishlist-16" size="16"></app-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </aside>

        <!-- Pie de Página del Producto -->
        <footer class="product__footer">
            <nav class="product__tags tags">
                <div class="tags__list">
                    <!-- Inserta las etiquetas aquí -->
                </div>
            </nav>

            <app-share-buttons
                class="product__share-buttons"
                [buttons]="['facebook', {type: 'twitter', label: 'Tweet'}, 'pinterest']"
                [pageUrl]="root.product(product)|absoluteUrl:'angular'"
                [pageTitle]="product.name"
                [pageImage]="product.images[0]|absoluteUrl:'html'"
            ></app-share-buttons>
        </footer>
    </section>
</div>
