<app-page-header [header]="'Checkout'" [breadcrumbs]="[
    {label: 'Inicio',          url: root.home()},
    {label: 'Carro', url: root.cart()},
    {label: 'Pagar',      url: ''}
]"></app-page-header>

<div class="checkout block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3" *ngIf="!(Usuario$|async)?.id">
                <app-alert type="primary" size="lg">Ya eres cliente? <a [routerLink]="root.login()">Inicia Sesión Aquí</a></app-alert>
            </div>

            <div class="col-12 col-lg-6 col-xl-7">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <h3 class="card-title">Detalles de Facturación</h3>

                        <form [formGroup]="formFacturacion">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="checkout-first-name">Tipo Documento </label><span class="red"> *</span>
                                <select class="form-control" formControlName="Documento" (change)="changeDocument()" [ngClass]="Entrega?.touched && Entrega?.valid == false ? 'inputError' : ''">
                                    <option [ngValue]="null"  selected selected="true" disabled>Seleccione una opción</option>
                                    <option *ngFor="let documento of Documentos" [selected]="documento == Documento?.value" [ngValue]="documento">
                                        {{ documento }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="
                                        !Documento?.valid &&
                                        Documento?.touched
                                    "
                                >
                                <span *ngIf="Documento?.errors?.['required']" class="text-invalid">
                                    Este campo es obligatorio
                                </span>
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="checkout-first-name" *ngIf="Documento?.value == 'Boleta'">Rut Persona</label>
                                <label for="checkout-first-name" *ngIf="Documento?.value == 'Factura'">Rut Empresa</label><span class="red"> *</span>
                                <input AppFormatRut type="text" class="form-control" (keypress)="validateRut()" formControlName="Rut" placeholder="12345678-9" [ngClass]="Rut?.touched && Rut?.valid == false ? 'inputError' : ''">
                                <div *ngIf="!Rut?.valid && Rut?.touched">
                                    <span *ngIf="Rut?.errors?.['required']" class="text-invalid">
                                        El Rut es Obligatorio
                                    </span>
                                    <span *ngIf="Rut?.errors?.['rut_invalido']" class="text-invalid">
                                        El RUT ingresado no es válido. Por favor vuelva a ingresar el RUT
                                    </span>
                                </div>
                            </div>


                            <div class="form-group col-md-6" *ngIf="Documento?.value == 'Boleta'">
                                    <label>Nombre <span class="red">*</span></label>
                                    <input
                                    AppFormatLetras
                                        type="text"
                                        class="form-control"
                                        placeholder="Nombre"
                                        formControlName="Nombre"
                                        maxlength="15"
                                        [ngClass]="
                                            Nombre?.touched &&
                                            Nombre?.valid == false
                                                ? 'inputError'
                                                : ''
                                        "
                                    />
                                    <div
                                        *ngIf="
                                            !Nombre?.valid &&
                                            Nombre?.touched
                                        "
                                    >
                                    <span *ngIf="Nombre?.errors?.['required']" class="text-invalid">
                                        El Nombre es Obligatorio
                                    </span>
                                    <span *ngIf="Nombre?.errors?.['minlength']" class="text-invalid">
                                        Su nombre debe tener minimo 3 caracteres
                                    </span>
                                    </div>
                            </div>
                            <div class="form-group col-md-6" *ngIf="Documento?.value == 'Boleta'">
                                    <label>Apellido <span class="red">*</span></label>
                                    <input
                                    AppFormatLetras
                                        type="text"
                                        class="form-control"
                                        placeholder="Apellido"
                                        formControlName="Apellido"
                                        maxlength="15"
                                        [ngClass]="
                                            Apellido?.touched &&
                                            Apellido?.valid == false
                                                ? 'inputError'
                                                : ''
                                        "
                                    />
                                    <div
                                        *ngIf="
                                            !Apellido?.valid &&
                                            Apellido?.touched
                                        "
                                    >
                                    <span *ngIf="Apellido?.errors?.['required']" class="text-invalid">
                                        El Apellido es Obligatorio
                                    </span>
                                    <span *ngIf="Apellido?.errors?.['minlength']" class="text-invalid">
                                        Su apellido debe tener minimo 2 caracteres
                                    </span>
                                    </div>
                            </div>



                            <div class="form-group col-md-12" *ngIf="Documento?.value == 'Factura'">
                                <label for="checkout-first-name">Razon Social </label><span class="red"> *</span>
                                <input
                                AppFormatLetras
                                    type="text"
                                    class="form-control"
                                    placeholder="Nombre o razon social"
                                    formControlName="RazonSocial"
                                    maxlength="30"
                                    [ngClass]="
                                        RazonSocial?.touched &&
                                        RazonSocial?.valid == false
                                            ? 'inputError'
                                            : ''
                                    "
                                />
                                <div
                                    *ngIf="
                                        !RazonSocial?.valid &&
                                        RazonSocial?.touched
                                    "
                                >
                                <span *ngIf="RazonSocial?.errors?.['required']" class="text-invalid">
                                    El nombre o razon social es obligatorio
                                </span>
                                <span *ngIf="RazonSocial?.errors?.['minlength']" class="text-invalid">
                                    Su nombre o razon social debe tener minimo 3 caracteres
                                </span>
                                </div>
                            </div>



                            <div class="form-group col-md-12" *ngIf="Documento?.value == 'Factura'">
                                <label for="checkout-first-name">Giro </label><span class="red"> *</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Nombre o razon social"
                                    formControlName="Giro"
                                    maxlength="30"
                                    [ngClass]="
                                    Giro?.touched &&
                                    Giro?.valid == false
                                            ? 'inputError'
                                            : ''
                                    "
                                />
                                <div
                                    *ngIf="
                                        !Giro?.valid &&
                                        Giro?.touched
                                    "
                                >
                                <span *ngIf="Giro?.errors?.['required']" class="text-invalid">
                                    El giro es obligatorio
                                </span>
                                <span *ngIf="Giro?.errors?.['minlength']" class="text-invalid">
                                    Giro Inválido
                                </span>
                                </div>
                            </div>


                            <div class="form-group col-md-12" *ngIf="Documento?.value == 'Factura'">
                                <label for="checkout-first-name">Direccion Empresa </label><span class="red"> *</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Nombre o razon social"
                                    formControlName="DireccionEmpresa"
                                    maxlength="150"
                                    [ngClass]="
                                        DireccionEmpresa?.touched &&
                                        DireccionEmpresa?.valid == false
                                            ? 'inputError'
                                            : ''
                                    "
                                />
                                <div
                                    *ngIf="
                                        !DireccionEmpresa?.valid &&
                                        RazonSocial?.touched
                                    "
                                >
                                <span *ngIf="DireccionEmpresa?.errors?.['required']" class="text-invalid">
                                    El nombre o razon social es obligatorio
                                </span>
                                <span *ngIf="DireccionEmpresa?.errors?.['minlength']" class="text-invalid">
                                    Ingrese una dirección valida
                                </span>
                                </div>
                            </div>



                            <form method="POST" #f style="display: none;">
                                <input type="text" name="token_ws" [value]="token" #i>
                            </form>


                            <div class="form-group col-md-6">
                                <label for="checkout-first-name">Correo </label><span class="red"> *</span>
                                <input type="text" class="form-control" id="checkout-first-name" placeholder="Correo" formControlName="Correo" maxlength="50"  [ngClass]="Correo?.touched && Correo?.valid == false ? 'inputError' : ''">
                                <div *ngIf="!Correo?.valid && Correo?.touched">
                                    <span *ngIf="Correo?.errors?.['required']" class="text-invalid">
                                        El Correo es Obligatorio
                                    </span>
                                    <span *ngIf="Correo?.errors?.['email']" class="text-invalid">
                                        El Correo es Invalido
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telefono <span class="red">*</span></label>
                                    <input
                                    AppFormatTelefono
                                        type="text"
                                        class="form-control"
                                        placeholder="Telefono"
                                        formControlName="Telefono"
                                        maxlength="12"
                                        [ngClass]="
                                            Telefono?.touched &&
                                            Telefono?.valid == false
                                                ? 'inputError'
                                                : ''
                                        "
                                    />
                                    <div
                                        *ngIf="
                                            !Telefono?.valid &&
                                            Telefono?.touched
                                        "
                                    >
                                        <span
                                            *ngIf="Telefono?.errors?.['required']"
                                            class="text-invalid"
                                        >
                                            El telefono es Obligatorio
                                        </span>
                                        <span
                                            *ngIf="Telefono?.errors?.['minlength']"
                                            class="text-invalid"
                                        >
                                            Telefono invalido, ejemplo: +56912341234
                                        </span>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group col-md-6">
                                    <label for="checkout-first-name">Agendar Despacho </label><span class="red"> *</span>
                                    <input type="date" class="form-control" formControlName="FechaDespacho" (click)="openDatepicker()" onkeydown="return false" #dateDespacho>
                                    <div
                                        *ngIf="
                                            !FechaDespacho?.valid &&
                                            Entrega?.touched
                                        "
                                    >
                                    <span *ngIf="FechaDespacho?.errors?.['required']" class="text-invalid">
                                        Este campo es obligatorio
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="checkout-first-name">Envió </label><span class="red"> *</span>
                                    <select class="form-control" formControlName="Entrega" (change)="setDelivery()" [ngClass]="Entrega?.touched && Entrega?.valid == false ? 'inputError' : ''">
                                        <option [ngValue]="null"  selected selected="true" disabled>Seleccione una opción</option>
                                        <option *ngFor="let entrega of entregas" [ngValue]="entrega">
                                            {{ entrega }}
                                        </option>
                                    </select>
                                    <div
                                        *ngIf="
                                            !Entrega?.valid &&
                                            Entrega?.touched
                                        "
                                    >
                                    <span *ngIf="Entrega?.errors?.['required']" class="text-invalid">
                                        Este campo es obligatorio
                                    </span>
                                    </div>
                                </div>

                            <div class="form-group col-md-12" *ngIf="isPersona && !(Usuario$|async)?.id">
                                <div class="form-check">
                                        <span class="form-check-input input-check">
                                            <span class="input-check__body">
                                                <input class="input-check__input" type="checkbox" id="checkout-create-account" (change)="nuevoUsuario = !nuevoUsuario">
                                                <span class="input-check__box"></span>
                                                <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="assets/images/sprite.svg#check-9x7"></use></svg>
                                            </span>
                                        </span>
                                    <label class="form-check-label" for="checkout-create-account">Crear una cuenta?</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="nuevoUsuario">
                                <div class="form-group col-md-6">
                                    <label for="checkout-first-name">Contraseña</label>
                                    <input type="password" class="form-control" formControlName="Contraseña" placeholder="Contraseña" minlength="5" maxlength="15" (keyup)="validarReContrasnia()" [ngClass]="Contrasenia?.touched && Contrasenia?.valid == false ? 'inputError' : ''">
                                    <div *ngIf="!Contrasenia?.valid && Contrasenia?.touched">
                                        <span *ngIf="Contrasenia?.errors?.['required']" class="text-invalid">
                                            La Contraseña es Obligatoria
                                        </span>
                                        <span *ngIf="Contrasenia?.errors?.['minlength'].actualLength != Contrasenia?.errors?.['minlength'].requiredLength" class="text-invalid">
                                            Debe contener almenos 5 caracteres
                                        </span>
                                        <span *ngIf="Contrasenia?.errors?.['maxlength']" class="text-invalid">
                                            La contraseña excede el maximo permitido
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="checkout-first-name">Confirmar Contraseña</label>
                                    <input type="password" class="form-control" formControlName="ReContraseña" placeholder="Contraseña" minlength="5" maxlength="15" (keyup)="validarReContrasnia()" [ngClass]="ReContrasenia?.touched && ReContrasenia?.valid == false ? 'inputError' : ''">
                                    <div *ngIf="!ReContrasenia?.valid && ReContrasenia?.touched">
                                        <span *ngIf="ReContrasenia?.errors?.['required']" class="text-invalid">
                                            Este campo es Obligatorio
                                        </span>
                                    </div>
                                    <span *ngIf="reContraseniaValid" class="text-invalid">
                                        La Contraseñas no son iguales
                                    </span>
                                </div>
                            </div>
                        </div>
                        </form>
                     <div class="card-divider"></div>



                     <div class="mt-3" *ngIf="dataEntrega == 'Envio a región' || dataEntrega ==  'Delivery Región Metropolitana'">
                            <h3 class="card-title">Datos de Envió</h3>
                        <div class="form-row">
                            <form
                                [formGroup]="formDireccion"
                            >

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Rut Destinatario<span class="red">*</span></label>
                                        <input
                                        AppFormatRut
                                            type="text"
                                            class="form-control"
                                            placeholder="Rut"
                                            formControlName="Rut"
                                            [ngClass]="
                                                RutD?.touched &&
                                                RutD?.valid == false
                                                    ? 'inputError'
                                                    : ''
                                            "
                                        />
                                        <div
                                            *ngIf="
                                                !RutD?.valid &&
                                                RutD?.touched
                                            "
                                        >
                                        <span *ngIf="RutD?.errors?.['required']" class="text-invalid">
                                            El Rut es Obligatorio
                                        </span>
                                        <span *ngIf="RutD?.errors?.['rut_invalido']" class="text-invalid">
                                            El RUT ingresado no es válido. Por favor vuelva a ingresar el RUT
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre Destinatario <span class="red">*</span></label>
                                        <input
                                        AppFormatLetras
                                            type="text"
                                            class="form-control"
                                            placeholder="Nombre"
                                            formControlName="NombreD"
                                            maxlength="30"
                                            [ngClass]="
                                                NombreD?.touched &&
                                                NombreD?.valid == false
                                                    ? 'inputError'
                                                    : ''
                                            "
                                        />
                                        <div
                                            *ngIf="
                                                !NombreD?.valid &&
                                                NombreD?.touched
                                            "
                                        >
                                        <span *ngIf="NombreD?.errors?.['required']" class="text-invalid">
                                            El Nombre es Obligatorio
                                        </span>
                                        <span *ngIf="NombreD?.errors?.['minlength']" class="text-invalid">
                                            Su nombre debe tener minimo 3 caracteres
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" *ngIf="dataEntrega == 'Envio a región'">
                                    <div class="form-group">
                                        <label>Región <span class="red">*</span></label>
                                        <select class="form-control" formControlName="Region" (change)="verComunas()">
                                            <option [ngValue]="null"  selected selected="true" disabled>Seleccione una Región</option>
                                            <option *ngFor="let region of regiones" [ngValue]="region">
                                                {{ region }}
                                            </option>
                                        </select>
                                        <div
                                            *ngIf="
                                                !Region?.valid &&
                                                Region?.touched
                                            "
                                        >
                                            <span
                                                *ngIf="Region?.errors?.['required']"
                                                class="text-invalid"
                                            >
                                                la región es Obligatoria
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div  [class.col-md-6]="dataEntrega === 'Envio a región'" [class.col-md-12]="dataEntrega === 'Delivery Región Metropolitana'"  *ngIf="dataEntrega == 'Envio a región' || dataEntrega == 'Delivery Región Metropolitana' ">
                                    <div class="form-group">
                                        <label>Comuna <span class="red">*</span></label>
                                        <select class="form-control" formControlName="Comuna">
                                            <option [ngValue]="null"  selected selected="true" disabled>Seleccione una Comuna</option>
                                            <option *ngFor="let comuna of comunas" [ngValue]="comuna">
                                                {{ comuna }}
                                            </option>
                                        </select>
                                        <div
                                            *ngIf="
                                                !Comuna?.valid &&
                                                Comuna?.touched
                                            "
                                        >
                                            <span
                                                *ngIf="Comuna?.errors?.['required']"
                                                class="text-invalid"
                                            >
                                                la comuna es Obligatoria
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Calle <span class="red">*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Calle"
                                            maxlength="50"
                                            formControlName="Calle"
                                            [ngClass]="
                                                Calle?.touched &&
                                                Calle?.valid == false
                                                    ? 'inputError'
                                                    : ''
                                            "
                                        />
                                        <div
                                            *ngIf="
                                                !Calle?.valid &&
                                                Calle?.touched
                                            "
                                        >
                                            <span
                                                *ngIf="Calle?.errors?.['required']"
                                                class="text-invalid"
                                            >
                                                La calle es Obligatoria
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Numero <span class="red">*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Numero"
                                            maxlength="15"
                                            formControlName="Numero"
                                            [ngClass]="
                                                Numero?.touched &&
                                                Numero?.valid == false
                                                    ? 'inputError'
                                                    : ''
                                            "
                                        />
                                        <div
                                            *ngIf="
                                                !Numero?.valid &&
                                                Numero?.touched
                                            "
                                        >
                                            <span
                                                *ngIf="Numero?.errors?.['required']"
                                                class="text-invalid"
                                            >
                                                La calle es Obligatoria
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Departamento"
                                            formControlName="Departamento"
                                            maxlength="35"
                                        />
                                    </div>
                                </div>
                                
                                </div>
                                
                            </form>


                            <div class="row">
                                <form
                                    [formGroup]="formAgencia"
                                >

                                <div class="col-md-12" *ngIf="dataEntrega == 'Envio a región'">
                                    <div class="form-group">
                                        <label>Agencia de Envió <span class="red">*</span></label>
                                        <select class="form-control" formControlName="Agencia">
                                            <option [ngValue]="null"  selected selected="true" disabled>Seleccione una Agencia de envió</option>
                                            <option *ngFor="let agencia of agencias" [ngValue]="agencia">
                                                {{ agencia }}
                                            </option>
                                        </select>
                                        <div
                                            *ngIf="
                                                !Agencia?.valid &&
                                                Agencia?.touched
                                            "
                                        >
                                            <span
                                                *ngIf="Agencia?.errors?.['required']"
                                                class="text-invalid"
                                            >
                                                la agencia es Obligatoria
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            </div>

                        </div>
                     </div>

                     <div class="card-divider"></div>

                     <form [formGroup]="formObservacion">
                        <div class="mt-3">
                            <div class="form-group">
                                <label for="checkout-comment">Comentario <span class="text-muted">(Opcional)</span></label>
                                <textarea id="checkout-comment" formControlName="Observaciones" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                     </form>
                </div>
            </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                <div class="card mb-0">
                    <div class="card-body">
                        <h3 class="card-title">Tu orden</h3>

                        <table class="checkout__totals">
                            <thead class="checkout__totals-header">
                            <tr>
                                <th>Img</th>
                                <th>Producto</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody class="checkout__totals-products">
                            <tr *ngFor="let item of cart.items$|async">
                                <td style="width: 4rem;"><img [src]="item.product.images[0]" style="max-height: 4rem;"></td>
                                <td>{{ item.product.name }} × {{ item.quantity }}</td>
                                <td>{{ item.product.price * item.quantity|currencyCLP }}</td>
                            </tr>
                            </tbody>
                            <tbody *ngIf="(cart.totals$|async)?.length" class="checkout__totals-subtotals">
                            <tr>
                                <th>Subtotal</th>
                                <td colspan="2">{{ cart.subtotal$|async|currencyCLP }}</td>
                            </tr>
                            <tr *ngFor="let total of cart.totals$|async">
                                <th>{{ total.title }}</th>
                                <td colspan="2">{{ total.price|currencyCLP }}</td>
                            </tr>
                            </tbody>
                            <tfoot class="checkout__totals-footer">
                            <tr>
                                <th>Total</th>
                                <td colspan="2">{{ cart.total$|async|currencyCLP }}</td>
                            </tr>
                            </tfoot>
                        </table>

                        <div class="payment-methods">
                            <ul class="payment-methods__list">


                                <div *ngFor="let paiment of paimentMethod">
                                    <li class="payment-methods__item" [ngClass]="{'payment-methods__item--active': paiment.active === true}" *ngIf="paiment.permission.toString().includes(Entrega?.value)">
                                        <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" name="checkout_payment_method" type="radio" [checked]="paiment.active === true" (change)="changeActivePaiment(paiment._id)">
                                                        <span class="input-radio__circle"></span>
                                                    </span>
                                                </span>
                                            <span class="payment-methods__item-title">{{paiment.name}}</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">
                                                <img [src]="paiment.img" [alt]="paiment.namne" style="width: 10rem; margin-bottom: 0.3rem;">
                                                <div>
                                                    {{paiment.description}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <div class="checkout__agree form-group">
                            <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-terms" (change)="checkoutTerms = !checkoutTerms">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="assets/images/sprite.svg#check-9x7"></use></svg>
                                        </span>
                                    </span>
                                <label class="form-check-label" for="checkout-terms">
                                    He leido y acepto los <a target="_blank" [routerLink]="root.terms()">Terminos y condiciones.</a>*
                                </label>

                                <div
                                *ngIf="!checkoutTerms && checkoutTermsError">
                                <span class="text-invalid">
                                    Debe aceptar los terminos y condiciones para continuar.
                                </span>
                                <div
                                *ngIf="isApiError">
                                <span class="text-invalid">
                                    {{ apiErrorMsg }}
                                </span>

                            </div>
                            

                            </div>
                        </div>

                        <button class="btn btn-primary btn-xl btn-block" (click)=purchase()>Realizar Orden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

