<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">Sobre Nosotros</h1>
                    <div class="about-us__text typography">
                        <p>
                            Ulti SPA es una empresa de origen Chileno, dedicado a la venta y comercialización de repuestos al por menor para automóviles en Chile. Somos lo último en tecnología web.
                        </p>
                        <p>
                            Entre nuestros proveedores se encuentran los fabricantes más importantes del mundo. Importando cientos de miles de productos con un stock disponible de más de 70.000.
                        </p>
                        <p>
                            En Ulti Repuestos siempre buscamos mantener un liderazgo nacional en ventas, siempre actualizando nuestra tecnología online y en e-commerce, basado en un amplio catálogo y buscador inteligente con mejoras continuas en su infraestructura y Big Data.
                        </p>
                        <p>
                            Ulti SPA no pertenecemos a ninguna importadora de repuestos para automóviles registrada en chile.
                        </p>
                    </div>
                    <div class="about-us__team">
                        <h2 class="about-us__team-title">Misión</h2>
                        <div class="about-us__team-subtitle text-muted">Ofrecer repuestos y accesorios de buena calidad para automóviles con el mejor servicio, al mejor precio, con un catálogo ordenado y con el mejor sistema logístico garantizado. Contando con un equipo de profesionales tecnológicos y personal capacitado en repuestos para automóviles dispuestos a servir a la comunidad chilena.</div>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="https://service.ulti.cl/etc/bodega-1.jpg" alt="">
                                        </div>
                                        <div class="teammate__name"></div>
                                        <div class="teammate__position text-muted"></div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="https://service.ulti.cl/etc/bodega-2.jpg" alt="">
                                        </div>
                                        <div class="teammate__name"></div>
                                        <div class="teammate__position text-muted"></div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="https://service.ulti.cl/etc/bodega-3.jpg" alt="">
                                        </div>
                                        <!-- <div class="teammate__name"></div>
                                        <div class="teammate__position text-muted"></div> -->
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
