<div class="card">
    <div class="card-header">
        <h5>Cambiar Contraseña</h5>
    </div>
    <div class="card-divider"></div>

    <form [formGroup]="formContrasenia" *ngIf="Modal == false">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-12 col-lg-7 col-xl-6">
                    <alert type="danger" *ngIf="mensaje">
                        <strong>{{ mensaje }}</strong>
                      </alert>

                    <div class="form-group">
                        <label for="password-current">Contraseña Actual</label>
                        <input type="password" class="form-control" formControlName="contrasenia" placeholder="Contraseña" minlength="5" maxlength="15" [ngClass]="contrasenia?.touched && contrasenia?.valid == false ? 'inputError' : ''">
                        <div *ngIf="!contrasenia?.valid && contrasenia?.touched">
                            <span *ngIf="contrasenia?.errors?.['required']" class="text-invalid">
                                La Contraseña es Obligatoria
                            </span>
                            <span *ngIf="contrasenia?.errors?.['minlength'].actualLength != contrasenia?.errors?.['minlength'].requiredLength" class="text-invalid">
                                Debe contener almenos 5 caracteres
                            </span>
                            <span *ngIf="contrasenia?.errors?.['maxlength']" class="text-invalid">
                                La contraseña excede el maximo permitido
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-new">Nueva Contraseña</label>
                        <input type="password" class="form-control" formControlName="newContrasenia" placeholder="Contraseña" minlength="5" maxlength="15" (keyup)="validarReContrasnia()" [ngClass]="newContrasenia?.touched && newContrasenia?.valid == false ? 'inputError' : ''">
                        <div *ngIf="!newContrasenia?.valid && newContrasenia?.touched">
                            <span *ngIf="newContrasenia?.errors?.['required']" class="text-invalid">
                                La Contraseña es Obligatoria
                            </span>
                            <span *ngIf="newContrasenia?.errors?.['minlength'].actualLength != newContrasenia?.errors?.['minlength'].requiredLength" class="text-invalid">
                                Debe contener almenos 5 caracteres
                            </span>
                            <span *ngIf="newContrasenia?.errors?.['maxlength']" class="text-invalid">
                                La contraseña excede el maximo permitido
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">Repite la nueva contraseña</label>
                        <input type="password" class="form-control" formControlName="reContrasenia" placeholder="Contraseña" minlength="5" maxlength="15" (keyup)="validarReContrasnia()" [ngClass]="reContrasenia?.touched && reContrasenia?.valid == false ? 'inputError' : ''">
                        <div *ngIf="!reContrasenia?.valid && contrasenia?.touched">
                            <span *ngIf="reContrasenia?.errors?.['required']" class="text-invalid">
                                La Contraseña es Obligatoria
                            </span>
                            <span *ngIf="reContrasenia?.errors?.['minlength'].actualLength != reContrasenia?.errors?.['minlength'].requiredLength" class="text-invalid">
                                Debe contener almenos 5 caracteres
                            </span>
                            <span *ngIf="reContrasenia?.errors?.['maxlength']" class="text-invalid">
                                La contraseña excede el maximo permitido
                            </span>
                        </div>
                        <span *ngIf="reContraseniaValid" class="text-invalid">
                            La Contraseñas no son iguales
                        </span>
                    </div>

                    <div class="form-group mt-5 mb-0">
                        <button class="btn btn-primary" (click)="cambiarContrasenia()">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="Modal == true">
        <alert type="success">
            <strong>La contraseña fue cambiada con exito!</strong>
          </alert>
    </div>

</div>
